.Card {
    border: 1px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300;
}

.TitleCard {
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
}

.Title {
    text-align: center;
    color: whitesmoke;
}

.Card .Content {
    flex: 1;
    background: #F2E394;
    color: #000;
    text-align: center;
    padding: 10px;
}

h1,
h2,
h3 {
    font-weight: 200;
}

h2,
h3 {
    margin: 0;
}