.Card {
    border: 4px double rgb(196, 192, 192);
    border-radius: 5px;
    box-shadow: -4px 10px 10px rgba(161, 97, 23, 0.5);
    margin: 10px 0px;
}

.TitleCard {
    background-color: rgba(0, 0, 0, 0.842);
    padding: 5px 5px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.Title {
    color: whitesmoke;
    text-align: center;
}

.Content {
    background: rgba(230, 103, 0, 0.795);
    color: #000;
    text-align: center;
    padding: 10px;
}

h1,
h2,
h3 {
    font-weight: 200;
}

h2,
h3 {
    margin: 0;
}